    <%= form_for @job do |f| %>
      <p>
        <%= f.text_field :fname, :placeholder => "FIRST NAME",:class => "newuserinput",:class => "placeholder"%>
      </p>

  
      <%= f.submit "SAVE",:class => "newuserinput"%>

<% end %>