<h1>Listing logins</h1>

<ul>
  <li><%= link_to "Manage Subjects", :controller => 'subjects' %></li>
  <li><%= link_to "Manage pages", :controller => 'pages' %></li>
  <li><%= link_to "Log out", :action => 'logout' %></li>
  
  
</ul>